@font-face {
	font-family: 'Lato';
	src: url('./fonts/LatoLatin-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('./fonts/LatoLatin-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('./fonts/LatoLatin-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('./fonts/LatoLatin-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}