html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Verdana, sans-serif;
  color:#2d303a;
     
}

.wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper_header {
  height: 92px;
  background-color: #2d303a;
  border-bottom: 9px solid #323746;
}

.logo {
  display: block;
  float: left;
  margin-top: 5px;
  font-size: 1.35em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;    
}

.logo span {
  color: #f06c64;
}

.navigation {
  float: right;
  margin-top: 40px;
}

.navigation li {
  display: inline;
  margin-right: 15px;  
}

.navigation li:after {
  content: '.';
  margin-left: 15px;
  font-size: 16px;
  color: #323746;  
}

.navigation li:last-child {
 margin-right: 0;
}

.navigation li:last-child:after {
  content: '';
}

.navigation a {  
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navigation a:hover {
  color: #f06c64;
}

.wrapper_hero {  

  height: 603px;
  background-color: #f06c64;
  border-bottom: 9px solid #ea676b;
}

.wrapper_services {
  height: 499px;
  background-color: #f2f2f2;
  border-bottom: 9px solid white;
}

.layout_3column {
  width: 939px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.item {
  width: 300px;
  height: 87px;
}

.icon {
  float: left;
  width: 61px;
  height: 61px;
}

.item__content {
  float: left;
  margin-left: 18px;
  width: 218px;
  height: 87px;
}

.item__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;  
}

.item__desc {
  height: 62px;
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.icon_custom {
  background-image: url('./assets/icons/pen.svg');
}

.icon_ideas {
  background-image: url('./assets/icons/lightbulb.svg');
}

.icon_love {
  background-image: url('./assets/icons/heart.svg');
}

.icon_responsive {
  background-image: url('./assets/icons/phone.svg');
}

.icon_support {
  background-image: url('./assets/icons/bubble.svg');
}

.icon_star {
  background-image: url('./assets/icons/star.svg');
}

h2 {
  padding-top: 70px;
  font-size: 30px;
  font-weight: 900;
}

p {
  font-size: 18px;  
  color: #767e9e;
}

.arrow {
  width: 16px;
  height: 27px;
}

.iphone_vert {
  float: left;
  margin-left: -150px;
}

.iphone_vert img {
    position: relative;  
}

.iphone_vert .screen {  
  left: -205px;
  top: -60px;
}

.iphone_vert .shadow {
  transform: scaleX(-1);
  left: 243px;
  top: 25px;
}

.iphone_horz {
  float: right;
  margin-top: -500px;
  margin-right: -90px;
}

.iphone_horz img {
    position: relative;  
}

.iphone_horz .iphone {
  transform: rotate(90deg);
}

.iphone_horz .screen {  
  left: -280px;
  top: -135px;
}

.iphone_horz .shadow {
  transform: rotate(90deg);
  left: 245px;
  top: 25px;
}

.arrow_left {
  background-image: url('./assets/icons/arrow.png');
}

.arrow_right {
  background-image: url('./assets/icons/arrow.png');
  transform: scaleX(-1);
}

