html {
  font-size: 12px;
  font-family: 'Lato', Verdana, sans-serif;
  color: #2d303a;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1022px;
  margin: 0 auto;
}

.content {
  width: 940px;
  margin: 0 auto;
}

h2 {
  display: inline-block;
  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  margin-bottom: 10px;
}

.layout_3column {
  width: 939px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper_portfolio {
  height: 861px;
  background-color: #2d303a;
  border-bottom: 9px solid #323746;
}

.portfolio h2 {
  color: #666d89;
  margin-top: 70px;
  margin-bottom: 9px;
}

.portfolio p {
  color: #767e9e;
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 21px;
}

.tags button {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #767e9e;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 4px;
  margin-right: 7px;
}

.tags button:hover {
  color: white;
  border: 1px solid white;
}

.gallery {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.gallery .gallery__item {
  margin-bottom: 17px;
}

.wrapper_aboutus {
  height: 736px;
  background-color: #f2f2f2;
  border-bottom: 9px solid white;
}

.aboutus h2 {
  margin-top: 68px;
  margin-bottom: 9px;
  color: #666d89;
}

.aboutus p {
  width: 960px;
}

.peoples {
  margin-top: 45px;
}

.aboutus__item {
  width: 300px;
}

.aboutus__item img {
  margin-bottom: 14px;
}

.aboutus__item h3 {
  display: inline;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
}

.aboutus__item p {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social {
  margin-top: 22px;
}

.social a {
  margin-right: 5px;
}
